# go vendor dir
vendor/

# python stuff
venv/
wheels/
requirements.txt
**/*egg-info
**/build
**/dist
**/__pycache__

# misc
**/.DS_Store
.vscode
.vagrant

# Emacs temporary files
*~

# test marker files
.go_qmstr_test
.go_module_test

# compiled stuff
out/
**/*.log
doc/content/introduction/getting-started/debian-curl_tutorial/curl
doc/content/introduction/getting-started/json-c_tutorial/json-c
doc/content/introduction/getting-started/**/qmstr
doc/content/introduction/getting-started/**/*.json

# Maven
modules/builders/qmstr-maven-plugin/target
