# go vendor dir
vendor/

# python stuff
venv/
wheels/
requirements.txt
**/*egg-info

# misc
**/.DS_Store
.vscode
.vagrant

# Emacs temporary files
*~

# test marker files
.go_qmstr_test

# compiled stuff
out/
