{
{%- for filename, file_info in files.infos.items() %}
  "{{ file_info.path }}": [
    {% for l in file_info.license_expressions %}{
      "type": "license",
      "confidenceScore": {{ licenses[l].score / 100 }},
      "dataNodes": [
        {
          "type": "key",
	        "data": "{{ licenses[l].key }}"
        },
        {
          "type": "score",
	        "data": "{{ licenses[l].score }}"
        },
        {
          "type": "name",
          "data": "{{ licenses[l].short_name }}"
        },
        {
          "type": "spdxIdentifier",
          "data": "{{ licenses[l].spdx_license_key }}"
        }
      ]
    }{% if not loop.last %},{% endif %}{% endfor %}{% if file_info.license_expressions != [] %},{% endif %}{% if file_info.holders + file_info.authors != [] %}{
      "type": "copyright",
      "dataNodes": [
        {%- for holder in file_info.holders %}
          {
            "type": "copyrightHolder",
            "data": "{{ holder.value }}"
          }{% if not loop.last or file_info.authors != [] %},{% endif %}
        {%- endfor %}
        {%- for author in file_info.authors %}
          {
            "type": "author",
            "data": "{{ author.value }}"
          }{% if not loop.last %},{% endif %}
        {%- endfor %}
      ]
    }{% endif %}
  ]{% if not loop.last %},{% endif %}
{%- endfor %}
}